In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../kc_house_data.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
df.yr_built.unique()

array([1955, 1951, 1933, 1965, 1987, 2001, 1995, 1963, 1960, 2003, 1942,
       1927, 1977, 1900, 1979, 1994, 1916, 1921, 1969, 1947, 1968, 1985,
       1941, 1915, 1909, 1948, 2005, 1929, 1981, 1930, 1904, 1996, 2000,
       1984, 2014, 1922, 1959, 1966, 1953, 1950, 2008, 1991, 1954, 1973,
       1925, 1989, 1972, 1986, 1956, 2002, 1992, 1964, 1952, 1961, 2006,
       1988, 1962, 1939, 1946, 1967, 1975, 1980, 1910, 1983, 1978, 1905,
       1971, 2010, 1945, 1924, 1990, 1914, 1926, 2004, 1923, 2007, 1976,
       1949, 1999, 1901, 1993, 1920, 1997, 1943, 1957, 1940, 1918, 1928,
       1974, 1911, 1936, 1937, 1982, 1908, 1931, 1998, 1913, 2013, 1907,
       1958, 2012, 1912, 2011, 1917, 1932, 1944, 1902, 2009, 1903, 1970,
       2015, 1934, 1938, 1919, 1906, 1935], dtype=int64)

In [5]:
years = []
for d in df.date:
    years.append(d[0:4])
df["Year"] = years

In [6]:
df.Year.unique()

array(['2014', '2015'], dtype=object)

In [7]:
# Function for counting nearby places and nearest distance
import requests
import json
import time

APIKEY = "AIzaSyAYHI79FbhX387OXrYoVBmoPw3X0FPQac4"

# supermarket, restaurant, park

def nearBy(loc=("47.605679","-122.113736"),radius=25000, type = "restaurant"):
    def findPlaces(pagetoken, count, coors):
        lat, lng = loc
        url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{lng}&radius={radius}&type={type}&key={APIKEY}{pagetoken}".format(lat = lat, lng = lng, radius = radius, type = type,APIKEY = APIKEY, pagetoken = "&pagetoken="+pagetoken if pagetoken else "")
        response = requests.get(url)
        res = json.loads(response.text)

        print("here results ---->>> ", len(res["results"]))
        count += len(res["results"])
        
        for result in res["results"]:
            info = ";".join(map(str,[result["name"],result["geometry"]["location"]["lat"],result["geometry"]["location"]["lng"],result.get("rating",0),result["place_id"]]))
            coors.append((result["geometry"]["location"]["lat"],result["geometry"]["location"]["lng"]))  
            print(info)
        pagetoken = res.get("next_page_token",None)
        return pagetoken, count, coors
    
    pagetoken = None
    count = 0
    coors = []
    while True:
        pagetoken, count, coors = findPlaces(pagetoken, count, coors)
        time.sleep(7)

        if not pagetoken:
            break
    return count, coors

In [8]:
count, coors = nearBy()

here results ---->>>  20
Fairmont Olympic Hotel - Seattle;47.6080639;-122.3339273;4.6;ChIJf3uV-rNqkFQRmkmlotz3KN0
The Woodmark Hotel;47.6568222;-122.2071;4.6;ChIJ2_L9biwTkFQRCMXqMf-4_e0
Silver Cloud Hotel - University District;47.6658333;-122.2994444;4.3;ChIJdS0Vx4cUkFQRv-UDFEvfpKY
Kimpton Hotel Vintage Seattle;47.6076086;-122.3325799;4.4;ChIJJ6iYtLZqkFQRGEtPwzzHb48
Mayflower Park;47.61219790000001;-122.3380528;4.4;ChIJ25ZqU0sVkFQRkt7IsXnTjLs
Cedarbrook Lodge;47.43704509999999;-122.2876461;4.7;ChIJO0gcqaZckFQRH-GoCnJ01mk
Buca di Beppo Italian Restaurant;47.6259415;-122.3390615;4;ChIJqcEWDzkVkFQRApc1W87ZbEE
Japonessa Sushi Cocina;47.6080322;-122.338974;4.5;ChIJUwksT7JqkFQR3kjlZYrA0XY
Westfield Southcenter;47.4588849;-122.257964;4.3;ChIJ1W80hNNckFQRsPmFJRJvK2s
Comfort Inn;47.709585;-122.17794;3.6;ChIJWy_We4ENkFQRZVKoKgjTgrc
The Crab Pot Seattle;47.606075;-122.3414167;4.2;ChIJs-Di-61qkFQRca-vbJs-L2o
Purple Cafe and Wine Bar;47.607957;-122.3350972;4.4;ChIJC2j55LNqkFQRRqBoRA_a_3A
Urbane;47.61388739999999;-122.3341112;4;ChIJu_VRNLVqkFQRR6qyyVqUSb8
Metropolitan Grill;47.6044334;-122.3341284;4.6;ChIJPf-9ULBqkFQRSBVLYMR_ONQ
Wild Ginger;47.6088186;-122.3375349;4.2;ChIJHUQoo7NqkFQRj20DssNIn8c
The Cheesecake Factory;47.6118674;-122.333289;4.3;ChIJKQ2BHbVqkFQRRnjiLmdeTDM
Flying Fish Restaurant;47.6210858;-122.3381935;4;ChIJX2stxjcVkFQRLe9V1BDzIPQ
Portage Bay Cafe - South Lake Union;47.621843;-122.337419;4.3;ChIJ7ZC5oTcVkFQR4tJqYR-hWbU
Toulouse Petit Kitchen & Lounge;47.6247613;-122.3569487;4.5;ChIJ_UHsyUMVkFQRucL7Hw-w7UE
Barrio Mexican Kitchen & Bar;47.6137185;-122.3165158;4.3;ChIJ3fSq1M1qkFQRsFTcaHWN0fU
here results ---->>>  20
Elysian Capitol Hill Brewery;47.6139394;-122.3158939;4.2;ChIJKT3o281qkFQRYihojLVigIU
Starbucks;47.61002;-122.34258;4.4;ChIJC8c4xbJqkFQRzxkn4pr96xE
Daniel's Broiler - South Lake Union;47.6267347;-122.3349585;4.3;ChIJ_68tTToVkFQR-MqoONjRaUA
Cactus South Lake Union;47.6217948;-122.3369462;4.4;ChIJCz0voDcVkFQRH2R4cNL9j8E
Seastar Restaurant & Raw Bar;47.6123799;-122.1964909;4.5;ChIJd2uY_zUVkFQRnYtbBRLwOJg
Garage;47.612236;-122.320491;4.3;ChIJfQUW-ctqkFQRWrlbEAyr-CU
Washington Athletic Club;47.6096186;-122.3335647;4.5;ChIJWYtiabRqkFQRmLQhcVZ7-40
Jimmy John's;47.6102753;-122.3341061;3.9;ChIJ3bW1i7RqkFQR5FappQqizW8
The Triple Door;47.608704;-122.3374197;4.5;ChIJ2xeRu7NqkFQRQjsj5C2QP9I
Elliott's Oyster House;47.6053824;-122.3409499;4.4;ChIJfToLAa5qkFQRRKwO4L3kGUU
Novilhos Brazilian Steakhouse;47.5769984;-122.1730515;4.4;ChIJ48ww6f9rkFQRrtQlbF8T5vE
Paseo Fremont;47.658486;-122.350311;4.5;ChIJI9abTFMUkFQRjkoqvmG4eWY
Portage Bay Cafe - on Roosevelt;47.6577778;-122.3175;4.3;ChIJzZzBbfQUkFQRP0f0nUznInY
Serious Pie Downtown;47.61289669999999;-122.3405801;4.4;ChIJSXeVvUwVkFQRcNZSuiadHdA
Daniel’s Broiler - Bellevue;47.6183336;-122.2005129;4.5;ChIJGfCVJo9skFQRqz9VN6zLoj8
Oddfellows Café + Bar;47.6148992;-122.319643;4.5;ChIJZ7BwWsxqkFQRW7n0QdDE1eg
Cafe Pho;47.7061512;-122.3258288;4.3;ChIJlZvFH1QRkFQRvn-BA0_7zoM
Ivar's Acres of Clams;47.6040335;-122.3395662;4.4;ChIJh8xzLa5qkFQRc-VyM5h5uuU
Yard House;47.61053039999999;-122.3373413;4.3;ChIJSxHAcbNqkFQRimpTht7bPsM
The Pike Brewing Company;47.608232;-122.339743;4.3;ChIJdwN6RbJqkFQRTcV4uKGf5jE
here results ---->>>  20
Canlis;47.6430933;-122.3467535;4.7;ChIJRXCfNwUVkFQRxraD8U-dANE
Palace Kitchen;47.61457699999999;-122.340055;4.4;ChIJkQm5kEsVkFQR6b6A73k2XI0
Rhein Haus Seattle;47.6109314;-122.3163023;4.4;ChIJUakM2c5qkFQRggEVot7xjNE
Lola;47.6132219;-122.3400408;4.4;ChIJF1wFnkwVkFQRTgUNrzxCBtQ
The Cheesecake Factory;47.6158973;-122.2021141;4.2;ChIJdSUTa4ZskFQRxsn2-IoZwto
Spinasse;47.61508;-122.314478;4.7;ChIJy73n9s1qkFQRRslGmCZxvv8
Barolo Ristorante;47.6146633;-122.3374525;4.4;ChIJX6U7AksVkFQRrEjQU0XxtsQ
Dahlia Lounge;47.61311109999999;-122.3404591;4.4;ChIJSa5cnkwVkFQR3Q-oIi3kVOk
Pike Place Chowder;47.6126392;-122.3353844;4.3;ChIJLSDL0bRqkFQRuNacMrcI15A
Dick's Drive-In;47.6193263;-122.3212263;4.5;ChIJ6cIFkjIVkFQR87o8Cmd7d_k
Cafe Presse;47.6120799;-122.316982;4.5;ChIJQ4-Qlc5qkFQRJT1w6olUDhQ
Dimitriou's Jazz Alley;47.6148157;-122.339617;4.7;ChIJa2POnksVkFQRCRo3bna-3Gc
The 5 Point Cafe | Breakfast & Afternoon Happy Hour is back!;47.6181058;-122.3474514;4.3;ChIJibX4ME8VkFQRypD16V31l-Q
Lincoln Square;47.6171883;-122.2007779;4.3;ChIJGdDDS49skFQRBYrZ9j4gloE
Umi Sake House;47.6133307;-122.3460646;4.6;ChIJlwUFuk0VkFQRzdTvH0McgL0
The Pink Door;47.6103652;-122.3425604;4.6;ChIJ91YOzrJqkFQRKmSW0B1qrbo
Central Cinema;47.613285;-122.305104;4.8;ChIJPelL6dBqkFQR0VjEheckwAs
Lunchbox Lab Burgers, Shakes and Bar;47.620631;-122.3313559;4.2;ChIJKdArmCwUkFQRi16bWEgw6h4
Shiro's Sushi;47.61477759999999;-122.34743;4.6;ChIJUwKffU4VkFQRVMTVWrCtcLE
Torero's Taqueria;47.6191964;-122.130861;3.4;ChIJz_B3r7ptkFQRAORQ3g5Q7PI

In [9]:
count

60

In [10]:
coors

[(47.6080639, -122.3339273),
 (47.6568222, -122.2071),
 (47.6658333, -122.2994444),
 (47.6076086, -122.3325799),
 (47.61219790000001, -122.3380528),
 (47.43704509999999, -122.2876461),
 (47.6259415, -122.3390615),
 (47.6080322, -122.338974),
 (47.4588849, -122.257964),
 (47.709585, -122.17794),
 (47.606075, -122.3414167),
 (47.607957, -122.3350972),
 (47.61388739999999, -122.3341112),
 (47.6044334, -122.3341284),
 (47.6088186, -122.3375349),
 (47.6118674, -122.333289),
 (47.6210858, -122.3381935),
 (47.621843, -122.337419),
 (47.6247613, -122.3569487),
 (47.6137185, -122.3165158),
 (47.6139394, -122.3158939),
 (47.61002, -122.34258),
 (47.6267347, -122.3349585),
 (47.6217948, -122.3369462),
 (47.6123799, -122.1964909),
 (47.612236, -122.320491),
 (47.6096186, -122.3335647),
 (47.6102753, -122.3341061),
 (47.608704, -122.3374197),
 (47.6053824, -122.3409499),
 (47.5769984, -122.1730515),
 (47.658486, -122.350311),
 (47.6577778, -122.3175),
 (47.61289669999999, -122.3405801),
 (47.6183336, -122.2005129),
 (47.6148992, -122.319643),
 (47.7061512, -122.3258288),
 (47.6040335, -122.3395662),
 (47.61053039999999, -122.3373413),
 (47.608232, -122.339743),
 (47.6430933, -122.3467535),
 (47.61457699999999, -122.340055),
 (47.6109314, -122.3163023),
 (47.6132219, -122.3400408),
 (47.6158973, -122.2021141),
 (47.61508, -122.314478),
 (47.6146633, -122.3374525),
 (47.61311109999999, -122.3404591),
 (47.6126392, -122.3353844),
 (47.6193263, -122.3212263),
 (47.6120799, -122.316982),
 (47.6148157, -122.339617),
 (47.6181058, -122.3474514),
 (47.6171883, -122.2007779),
 (47.6133307, -122.3460646),
 (47.6103652, -122.3425604),
 (47.613285, -122.305104),
 (47.620631, -122.3313559),
 (47.61477759999999, -122.34743),
 (47.6191964, -122.130861)]

In [11]:
count1, coors1 = nearBy(type = "shopping")

here results ---->>>  20
Seattle;47.6062095;-122.3320708;0;ChIJVTPokywQkFQRmtVEaUZlJRA
Embassy Suites by Hilton Seattle Bellevue;47.5810695;-122.134159;4.3;ChIJ0b3iP5lukFQRThUvtkRSAbc
Silver Cloud Inn - Redmond;47.6296581;-122.1367128;4.4;ChIJXz_tFKdtkFQRMJ8vEjVUgpY
Sonesta Select Seattle Bellevue;47.63529700000001;-122.1465451;4.1;ChIJpyfYJA9tkFQRBSj0fn6yRF0
Residence Inn by Marriott Seattle Bellevue/Downtown;47.6037229;-122.1865592;4.4;ChIJ44kzIHBskFQReAf1hkoB2tc
Extended Stay America - Seattle - Bellevue - Downtown;47.6107074;-122.1876449;3.6;ChIJaX-u8mNskFQRkcR1R03P7JQ
Hilton Bellevue;47.6072222;-122.1891044;4.2;ChIJ64dQMntskFQRLUp7RxHYSRA
Courtyard by Marriott Seattle Bellevue/Downtown;47.6176269;-122.1933877;4.3;ChIJ0frs24tskFQR60TjI5f8km0
Silver Cloud Inn - Bellevue Downtown;47.620729;-122.1977601;4.3;ChIJGVaHf45skFQRy4cRoOTfgFE
The Westin Bellevue;47.61578979999999;-122.2006724;4.5;ChIJ1XTOGIZskFQRyXfRsmODXBk
Hyatt Regency Bellevue On Seattle's Eastside;47.61829040000001;-122.2006884;4.5;ChIJV4lJFo9skFQR9-p5lr01NAg
Seattle Marriott Redmond;47.6709797;-122.1219627;4.4;ChIJjYZ2uK9ykFQRZarS1UEdRTc
Red Lion Hotel Bellevue;47.6090083;-122.1896502;3.7;ChIJUYwjmWRskFQRBq8loqtndS0
Hilton Garden Inn Seattle/Issaquah;47.54625899999999;-122.0648689;4.3;ChIJAXTLnwxvkFQROtNCrYD40Nw
La Quinta Inn & Suites by Wyndham Seattle Bellevue/Kirkland;47.6427083;-122.199109;4.1;ChIJBfOUJMVskFQRhmYPpZca9js
The Woodmark Hotel;47.6568222;-122.2071;4.6;ChIJ2_L9biwTkFQRCMXqMf-4_e0
Hyatt House Seattle/Redmond;47.6734713;-122.1303788;4.5;ChIJ9YfzaqxykFQR9aBykWtDSOM
Larkspur Landing Bellevue;47.575401;-122.1297761;3.9;ChIJI4PPOpZukFQRfNiS2nCDRQ4
Fairfield Inn & Suites by Marriott Seattle Bellevue/Redmond;47.6348249;-122.1471007;4.3;ChIJ91OWtQhtkFQRUDjWH-jTF0E
Bellevue;47.6101497;-122.2015159;0;ChIJQWCmo89rkFQRZQfQ6oJUz7o
here results ---->>>  20
Motel 6 Issaquah, WA - Seattle - East;47.5510145;-122.0600579;3.4;ChIJYZ52uKBvkFQRVgj6OJ-qOQk
Silver Cloud Hotel - Bellevue Eastgate;47.5801026;-122.1437375;4.4;ChIJWWp7YKFukFQRIKnJ6HjuuuY
La Residence Suite Hotel;47.61474809999999;-122.2074169;4.2;ChIJ9WnjoIZskFQRitNh7EI1lbc
Redmond Inn;47.66839600000001;-122.105228;4.1;ChIJU2MEyb5ykFQR5IwqGTGnhI0
Hyatt House Seattle/Bellevue;47.5806756;-122.1541412;4.4;ChIJH8FAv6dukFQROY23ewHlaQY
Bellevue Square;47.61563109999999;-122.2040024;4.5;ChIJF7Wdd4ZskFQRhk02OceIcdo
Residence Inn by Marriott Seattle East/Redmond;47.672085;-122.1218976;4.4;ChIJCfEQM65ykFQREkcdDYN22Ds
Residence Inn by Marriott Seattle Bellevue;47.6339321;-122.1471802;4.2;ChIJ27I1rwhtkFQRmJIzL0b7NU4
Best Buy;47.6139737;-122.1822893;4.1;ChIJpau4nWBskFQRzbHlVlEqVzo
Marymoor Park;47.6600477;-122.1079176;4.7;ChIJ0fWNvq9ykFQRHWk-yNgbKgo
Bellevue Club Hotel;47.6053495;-122.1895634;4.7;ChIJtToSvHpskFQRBvNb8aZubWQ
Walmart;47.5728748;-122.1725321;3.8;ChIJsYLbRlRpkFQRBXm7WctnSRU
Swarovski Bellevue Square;47.6154503;-122.2036554;4.4;ChIJZQAAcIZskFQRUHRydtzSYMU
Meydenbauer Center;47.615593;-122.1911769;4.4;ChIJ2z4DiolskFQRuSAc_097CTY
The Home Depot;47.61237269999999;-122.1819431;4.1;ChIJIfBhumBskFQRZbzP8EaxpP8
Nordstrom;47.6169811;-122.2040215;4.4;ChIJy20mlYVskFQREf6_aKJn1-I
Bellevue Club;47.6049955;-122.1895264;4.6;ChIJtToSvHpskFQRlCTsXEDknMA
Walgreens;47.6167118;-122.1541894;3.1;ChIJixcNGFJskFQR9wjcZCtw2mY
Seastar Restaurant & Raw Bar;47.6123799;-122.1964909;4.5;ChIJd2uY_zUVkFQRnYtbBRLwOJg
City Center Plaza;47.61488199999999;-122.1940757;4.4;ChIJg9iXUYhskFQRqDssdw2j7SI
here results ---->>>  20
Northwest University;47.65769209999999;-122.1924837;4.3;ChIJTbB5LSttkFQR0bdtYSpl48c
Nintendo of America;47.6510523;-122.1392074;4.6;ChIJrSPz5mltkFQRvP-GY6jZyBs
Novilhos Brazilian Steakhouse;47.5769984;-122.1730515;4.4;ChIJ48ww6f9rkFQRrtQlbF8T5vE
Hotel 116, a Coast Hotel;47.6158784;-122.1864427;3.8;ChIJFxF2KGBskFQRf7quGvD1B08
Target;47.542055;-122.0502252;4.1;ChIJv1zDlZ1vkFQRJvPlgEAtBxU
Bellevue Library;47.62029750000001;-122.1947701;4.6;ChIJAf2ta4xskFQRMkLmAk-vP7o
Whole Foods Market;47.61829410000001;-122.1845899;4.3;ChIJXwEcMPVskFQRwNqv5EXWm1Y
Crossroads Bellevue;47.6193494;-122.1302076;4.3;ChIJ13EdhLptkFQR-BgSi6M_btY
Redmond Town Center;47.6705639;-122.1204556;4.3;ChIJjYZ2uK9ykFQRp6GC602t3r4
Seattle Humane;47.58118160000001;-122.1634493;4.6;ChIJ2RMYRQJskFQRQwrWRN-YxKM
Fred Meyer;47.6288764;-122.1441031;4.4;ChIJp7G-aqhtkFQRPvoQvUV0Nsk
Daniel’s Broiler - Bellevue;47.6183336;-122.2005129;4.5;ChIJGfCVJo9skFQRqz9VN6zLoj8
Nordstrom Rack;47.5755136;-122.1721649;4.1;ChIJe3LjllVpkFQRIpbrkGenNNM
The Home Depot;47.669315;-122.1027309;4.1;ChIJOxg8zLhykFQRmXB0LU6tVo8
The LEGO® Store Bellevue Square;47.6162272;-122.2043503;4.7;ChIJvagIcoZskFQRo235mFqe4C8
Skyline High School;47.6001135;-122.0323108;2.5;ChIJBUwwnOdxkFQRy9oZzRxcMxo
KUBE-FM Seattle;47.5442384;-122.1086586;2;ChIJCR66nyVvkFQRBvQXFLVyFpM
City Square Bellevue Apartments;47.6185;-122.1933802;3.5;ChIJf7Dp8otskFQRgrFyS5XTqp8
Sammamish High School;47.6087563;-122.1522617;4.3;ChIJm8zMukhskFQRhpI4vdD916Y
Gene Juarez Salon & Spa;47.61618739999999;-122.1931885;3.8;ChIJz7LpiohskFQRlQOcOPjHpWc

In [12]:
count1

60

In [13]:
coors1

[(47.6062095, -122.3320708),
 (47.5810695, -122.134159),
 (47.6296581, -122.1367128),
 (47.63529700000001, -122.1465451),
 (47.6037229, -122.1865592),
 (47.6107074, -122.1876449),
 (47.6072222, -122.1891044),
 (47.6176269, -122.1933877),
 (47.620729, -122.1977601),
 (47.61578979999999, -122.2006724),
 (47.61829040000001, -122.2006884),
 (47.6709797, -122.1219627),
 (47.6090083, -122.1896502),
 (47.54625899999999, -122.0648689),
 (47.6427083, -122.199109),
 (47.6568222, -122.2071),
 (47.6734713, -122.1303788),
 (47.575401, -122.1297761),
 (47.6348249, -122.1471007),
 (47.6101497, -122.2015159),
 (47.5510145, -122.0600579),
 (47.5801026, -122.1437375),
 (47.61474809999999, -122.2074169),
 (47.66839600000001, -122.105228),
 (47.5806756, -122.1541412),
 (47.61563109999999, -122.2040024),
 (47.672085, -122.1218976),
 (47.6339321, -122.1471802),
 (47.6139737, -122.1822893),
 (47.6600477, -122.1079176),
 (47.6053495, -122.1895634),
 (47.5728748, -122.1725321),
 (47.6154503, -122.2036554),
 (47.615593, -122.1911769),
 (47.61237269999999, -122.1819431),
 (47.6169811, -122.2040215),
 (47.6049955, -122.1895264),
 (47.6167118, -122.1541894),
 (47.6123799, -122.1964909),
 (47.61488199999999, -122.1940757),
 (47.65769209999999, -122.1924837),
 (47.6510523, -122.1392074),
 (47.5769984, -122.1730515),
 (47.6158784, -122.1864427),
 (47.542055, -122.0502252),
 (47.62029750000001, -122.1947701),
 (47.61829410000001, -122.1845899),
 (47.6193494, -122.1302076),
 (47.6705639, -122.1204556),
 (47.58118160000001, -122.1634493),
 (47.6288764, -122.1441031),
 (47.6183336, -122.2005129),
 (47.5755136, -122.1721649),
 (47.669315, -122.1027309),
 (47.6162272, -122.2043503),
 (47.6001135, -122.0323108),
 (47.5442384, -122.1086586),
 (47.6185, -122.1933802),
 (47.6087563, -122.1522617),
 (47.61618739999999, -122.1931885)]

In [14]:
count2, coors2 = nearBy(type = "park")

here results ---->>>  20
Marymoor Park;47.6600477;-122.1079176;4.7;ChIJ0fWNvq9ykFQRHWk-yNgbKgo
Gas Works Park;47.6456308;-122.3343532;4.7;ChIJf7BbsgIVkFQRlmFJ7KtVbh4
Snoqualmie Falls;47.5470096;-121.8404197;4.7;ChIJT6dOHNF7kFQRhSFgNROsXec
Olympic Sculpture Park;47.6166028;-122.3553167;4.5;ChIJc88dJ1AVkFQRmZ_S-xv-_Hs
Seward Park;47.5496046;-122.2573574;4.7;ChIJ8fB3DCFqkFQRuPuGyAgceTw
Seattle Japanese Garden;47.6290005;-122.2962936;4.6;ChIJQ3K1QtIUkFQRNM3jmnMDMVk
Bellevue Botanical Garden;47.6091944;-122.1787564;4.7;ChIJtyvP_2ZskFQRAz9MdO6RqfM
Lincoln Park;47.53057099999999;-122.395992;4.7;ChIJnRb12DlBkFQR_SuL0fockuc
Lake Sammamish State Park;47.5599435;-122.0554823;4.6;ChIJFZddJa9vkFQRqmHy4SfkGPw
Volunteer Park;47.6310836;-122.3163794;4.7;ChIJ3TTM_CcVkFQRtMStux6Hvyw
Occidental Square;47.600506;-122.3332236;4.3;ChIJpzPF0rpqkFQRLLkTgGwPj1k
Discovery Park;47.6580466;-122.4180885;4.8;ChIJn0CO4fAVkFQRIGP6pMpCmFE
Kerry Park;47.6294692;-122.3599224;4.7;ChIJUS2ELmoVkFQRjrUkJB5o9zM
Cougar Mountain Regional Wildland Park;47.5276489;-122.1096207;4.7;ChIJtZJgGbxukFQR5po7ruVsRRQ
Golden Gardens Park;47.6917517;-122.4030912;4.7;ChIJ72JgjmQWkFQRygp_TI2DLFs
Westlake Park;47.6109571;-122.3370146;4.2;ChIJ76iup7RqkFQRt4pnSK_8dec
Waterfront Park;47.60704;-122.3418276;4.5;ChIJL7yqjK1qkFQRDj6HS3N-GiA
Downtown Park;47.6126836;-122.2041686;4.7;ChIJYVqRI4dskFQRVWnuu-Qjk0E
Central Park;47.5459311;-122.0019189;4.6;ChIJOZR0MfZvkFQRJJf6TWoaVpE
Kubota Garden;47.5133132;-122.2664458;4.7;ChIJA2y97GVCkFQRLhpMnRq2Nd8
here results ---->>>  20
Carkeek Park;47.71159549999999;-122.3682005;4.7;ChIJyVw29LsWkFQRtWZ3uO0R9hA
Grass Lawn Park;47.66835340000001;-122.1457814;4.7;ChIJz5Tea1RtkFQRKf5kSQ9qxzQ
Remlinger Farms;47.6390278;-121.9022194;4.5;ChIJWWUpl5R2kFQRsyRK6Yrk2Yo
Genesee Park and Playfield;47.5655918;-122.2785452;4.4;ChIJl3HjpGxqkFQRtyBPXqJN0tk
Ravenna Park;47.668731;-122.3037237;4.7;ChIJGdxLn3wUkFQRDkH8l-Ix8WM
Viretta Park;47.619238;-122.2821609;4.7;ChIJt63G-S9rkFQRmWK292cpOfk
Tolt River-John MacDonald Park;47.6439141;-121.9247524;4.6;ChIJBUXJ0il0kFQRQh-8TWPkugU
Juanita Beach Park;47.7047085;-122.2153623;4.5;ChIJiSZt12cSkFQRDAYwNVCsDNs
Duthie Hill Mountain Bike Park;47.5784092;-121.9781335;4.9;ChIJST8bLEFwkFQR2LXcoMuY3z0
Myrtle Edwards Park;47.619438;-122.361817;4.7;ChIJ4yjQRVwVkFQRGgpA_cetS70
Luther Burbank Park;47.5911806;-122.2256684;4.7;ChIJC8GgZL1rkFQRZhoiyuxpGdw
Lake Union Park;47.6270967;-122.3371302;4.6;ChIJZbpC3DsVkFQRfV3tymwamMI
Tree Harmony Arborists LLC;47.5876648;-122.2413933;4.9;ChIJs2BiFdBrkFQR5oP_SjqyaEI
I-5 Colonnade;47.634874;-122.3239399;3.9;ChIJha4r7yAVkFQR8--AC9T-6ns
Perrigo Park;47.68381979999999;-122.0821809;4.6;ChIJ85ZZpNdykFQRFPgVKmBd2_Q
Gene Coulon Memorial Beach Park;47.5068943;-122.2020264;4.6;ChIJk7HarTlokFQRoQU1xhyTE_A
Beaver Lake Park;47.5863138;-122.0139017;4.6;ChIJzWxG_cxxkFQRVIl-r75f_7I
Bridle Trails State Park;47.65513059999999;-122.1843369;4.6;ChIJH90B-y9tkFQRwO4Qk8KkbdA
Hartman Park;47.69062479999999;-122.1074036;4.4;ChIJ_VkC6TENkFQRepa2vKyvisg
Terry Pettus Park;47.636752;-122.32933;4.4;ChIJ4cx13yEVkFQR_P8Yw62faFw
here results ---->>>  20
Saint Edward State Park;47.7330238;-122.2564721;4.7;ChIJA9OZpYwRkFQRJvhBx5jNbnk
Issaquah Community Center;47.5274227;-122.034114;4.4;ChIJUTWgnH9lkFQRw7x887iqFek
Evergreen Washelli Columbarium;47.7111336;-122.3443515;4.3;ChIJG593bLIWkFQRXiqEVnI10Y0
Preston Athletic Fields and Park;47.5240444;-121.9344423;4.5;ChIJT0raX9d6kFQRVHUFqr75H_w
Beacon Food Forest;47.5678206;-122.3122138;4.7;ChIJvSOKJdZBkFQRFpdH2g3M0RY
Delridge Playfield;47.562992;-122.3645195;4.4;ChIJK20DX1JAkFQRIaAy5mzMbog
Madison Park;47.63544659999999;-122.2784895;4.6;ChIJJcWfMLQUkFQRirzLXhjh4ms
Wilburton Hill Park;47.6077119;-122.175505;4.6;ChIJAYUl-GdskFQRdTtFS8PW5bI
Statue of Lenin;47.6512788;-122.3507224;4.1;ChIJXZNOUgcVkFQRjSq7uwc6np8
Hamlin Park;47.7449581;-122.3054158;4.6;ChIJVQAfhqkRkFQRSdP4s5H1j38
Idylwood Park;47.6437009;-122.1052024;4.6;ChIJXarW739tkFQR41V_mgbFAeM
Sixty Acres Park;47.7047699;-122.140177;4.5;ChIJ74GKrBYNkFQRxTfXsAye9VM
Bradner Gardens Park;47.5872963;-122.2955501;4.7;ChIJb-s6XvNqkFQRmIJJsP0ARVU
Denny Park;47.619053;-122.340936;4.2;ChIJ7cLUtUkVkFQR7vF7ZiDDmfU
Juanita Bay Park;47.6986138;-122.2110985;4.7;ChIJY_jvLl4SkFQRwf-KL4NfAhY
Red Town Trailhead;47.53457220000001;-122.1284372;4.7;ChIJee0kEc5okFQRjZ9Xbh2WPhM
Northgate Park;47.70558609999999;-122.3228133;4.1;ChIJn0bWFlYRkFQR0DPq4hXkpaE
Judkins Park and Playfield;47.594277;-122.30382;4.4;ChIJ7xtPlexqkFQRkRxpgEIUlyI
Leschi Park;47.6007747;-122.2880685;4.6;ChIJHUVuHuRqkFQReNWxAcWBW5I
Freeway Park;47.609308;-122.330903;4.2;ChIJSx5JLLRqkFQRwnvCxhDzA3o

In [15]:
count2

60

In [16]:
coors2

[(47.6600477, -122.1079176),
 (47.6456308, -122.3343532),
 (47.5470096, -121.8404197),
 (47.6166028, -122.3553167),
 (47.5496046, -122.2573574),
 (47.6290005, -122.2962936),
 (47.6091944, -122.1787564),
 (47.53057099999999, -122.395992),
 (47.5599435, -122.0554823),
 (47.6310836, -122.3163794),
 (47.600506, -122.3332236),
 (47.6580466, -122.4180885),
 (47.6294692, -122.3599224),
 (47.5276489, -122.1096207),
 (47.6917517, -122.4030912),
 (47.6109571, -122.3370146),
 (47.60704, -122.3418276),
 (47.6126836, -122.2041686),
 (47.5459311, -122.0019189),
 (47.5133132, -122.2664458),
 (47.71159549999999, -122.3682005),
 (47.66835340000001, -122.1457814),
 (47.6390278, -121.9022194),
 (47.5655918, -122.2785452),
 (47.668731, -122.3037237),
 (47.619238, -122.2821609),
 (47.6439141, -121.9247524),
 (47.7047085, -122.2153623),
 (47.5784092, -121.9781335),
 (47.619438, -122.361817),
 (47.5911806, -122.2256684),
 (47.6270967, -122.3371302),
 (47.5876648, -122.2413933),
 (47.634874, -122.3239399),
 (47.68381979999999, -122.0821809),
 (47.5068943, -122.2020264),
 (47.5863138, -122.0139017),
 (47.65513059999999, -122.1843369),
 (47.69062479999999, -122.1074036),
 (47.636752, -122.32933),
 (47.7330238, -122.2564721),
 (47.5274227, -122.034114),
 (47.7111336, -122.3443515),
 (47.5240444, -121.9344423),
 (47.5678206, -122.3122138),
 (47.562992, -122.3645195),
 (47.63544659999999, -122.2784895),
 (47.6077119, -122.175505),
 (47.6512788, -122.3507224),
 (47.7449581, -122.3054158),
 (47.6437009, -122.1052024),
 (47.7047699, -122.140177),
 (47.5872963, -122.2955501),
 (47.619053, -122.340936),
 (47.6986138, -122.2110985),
 (47.53457220000001, -122.1284372),
 (47.70558609999999, -122.3228133),
 (47.594277, -122.30382),
 (47.6007747, -122.2880685),
 (47.609308, -122.330903)]

In [17]:
import json

places = [
            {'restaurant': {'count': count, 'coors': coors}},
            {'shopping': {'count': count1, 'coors': coors1}},
            {'park': {'count': count2, 'coors': coors2}}
         ]

json = json.dumps(places)
f = open("places.json","w")
f.write(json)
f.close()

In [7]:
df.to_csv('../house_data_processed.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
 21  Year           21613 non-null  object
dtypes: float64(6), int64(14), object(2)
memory usage: 3.6+ MB